/*RESET*/
body, ul, li, div {
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  height: auto;
  font-size: inherit;
}

HTML, body {
  height: 100%;
  min-height: 100%;
  font-size: 100%;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style: none;
  position: relative;
  float: right;
  width: 10%;
  height: 90%;
}

li > div {
  background-color: white;
  height: 100%;
  border: 1px solid rgb(166, 166, 166);
  text-align: center;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sharp {
  position: absolute;
  z-index: 1;
  border-left: 2px solid rgb(56, 56, 56);
  border-right: 2px solid rgb(56, 56, 56);
  width: 6rem;
  background-color: rgb(56, 56, 56);
  height: 60%;
  color: white;
  margin-left: -3rem;
  background-image: none;
}

.pressed {
  background-color: #f5da69;
  border: 5px solid #1c6891;
}

.hidden {
  width: 0;
}

.control {
  width: 16.666666%;
  border: 1px solid red;
  height: 100%;
}

#controller > ul {
  height: 100%;
}

#controller {
  height: 15%;
}

#keyboard {
  width: 100%;
  height: 100%;
  display: block;
  padding: 2%;
  border-radius: 5px;
  background-image: url('./stardust.png');
}


@media screen and (max-width: 1200px) {
    .sharp {
        width: 5rem;
        margin-left: -2.5rem;
    }
}

@media screen and (max-width: 1000px) {
    .sharp {
        width: 4rem;
        margin-left: -2rem;
    }
}

@media screen and (max-width: 750px) {

  li {
    list-style: none;
    position: relative;
    float: none;
    width: 90%;
    height: 10%;
  }

  li > div {
    background-color: white;
    height: 100%;
    border: 1px solid rgb(166, 166, 166);
    text-align: center;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .sharp {
    position: absolute;
    z-index: 1;
    height: 4rem;
    width: 16rem;
    margin-top: -2rem;
    margin-left: 0;
  }

  .hidden {
    width: 0;
    height: 0;
  }

}

@media screen and (max-width: 750px) and (max-height: 750px){
  .sharp {
    height: 3rem;
    margin-top: -1.5rem;
  }
}

@media screen and (max-width: 750px) and (max-height: 550px){
  .sharp {
    height: 2.5rem;
    margin-top: -1.25rem;
  }
}

@media screen and (max-width: 750px) and (max-height: 400px){
  .sharp {
    height: 1.5rem;
    margin-top: -.75rem;
  }
}
